$buttons: black;
$background: grey;
$buttonSize: 30px;

.box {

  height: 240px;
  width: 240px;
  position: relative;
  margin: 0px 0px 0px auto;
  padding: 0px;

  .rightButton {

    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: $buttons;
    width: $buttonSize;
    height: $buttonSize;

  }

  .leftButton {

    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: $buttons;
    width: $buttonSize;
    height: $buttonSize;

  }

}
