$background: grey;
$buttonSize: 30px;

.box {

  position: relative;
  margin: 0px 0px 0px auto;
  padding: 0px;
  background-color: $background;
  text-align: center;
  overflow: hidden;

  img {

    width: auto;
    height: 100%;
    display: block;
    margin: auto;

  }

  .rightButton {

    position: absolute;
    bottom: 0px;
    right: 0px;
    width: $buttonSize;
    height: $buttonSize;
    border: solid 2px;
    border-radius: 3px;

    &:hover {

      cursor: pointer;

    }

    img {

      padding: 2px;

    }

  }

  .leftButton {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: $buttonSize;
    height: $buttonSize;
    border: solid 2px;
    border-radius: 3px;
    transform: scaleX(-1);

    &:hover {

      cursor: pointer;

    }

    img {

      padding: 2px;

    }

  }

}
