.header {

  background-image: linear-gradient(to right, hotpink , purple, darkslateblue, darkblue);

}

.logo {

  cursor: pointer;

}

.navBar {

  position: relative;

  div {

    position: absolute;
    bottom: 5px;
    right: 15px;

    a {

      margin: 2px 5px;
      color: white;
      text-decoration: none;
      padding: 2px;

      &:hover {

        font-weight: bold;
        margin: 2px 2.8px;

      }

    }

  }

}

.box {

  margin: 40px 0 0 0;

  .card {

    min-width: 300px;
    margin: 15px 0;

  }

  .align {

    justify-content: center;
    text-align: center;

    & p {

      margin: 1px;

      @media (min-width: 0px) {

        font-size: 10px;

      }

      @media (min-width: 800px) {

        font-size: 14px;

      }

    }


  }

  .line {

    background-color: black;
    min-height: 10px;

  }

}
