.toggle {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & span {

    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;

    &:nth-child(1) {

      transform: translateY(-8px);
      width: 15px;
      left: 8px;
    }

    &:nth-child(2) {

      transform: translateY(8px);
      width: 10px;
      left: 8px;

    }

  }

}

.toggle.active span:nth-child(3) {

  transform: translateX(60px);

}
