.toggle {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;

  & span {

    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;

    &:nth-child(1) {

      transform: translateY(-8px);
      width: 15px;
      left: 8px;
    }

    &:nth-child(2) {

      transform: translateY(8px);
      width: 10px;
      left: 8px;

    }

  }

}

.menu {

  position: relative;
  display: none;

  &Background {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);

  }

  &Group {

    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 70%;
    height: 100%;
    padding: 15px;

    & h4 {

      color: white;

    }

    & a {

      color: white;
      text-decoration: none;
      /*border: solid 3px white;
      border-radius: 4px;*/
      margin: 5px;
      padding: 5px;

      &:hover {

        color: antiquewhite;

      }

    }

  }

}
