body {

  font-family: Helvetica;

}

h2 {

  @media (min-width: 0px) {

      font-size: 18px;

  }
  @media (min-width: 720px) {

      font-size: 24px;

  }

}

p {

  @media (min-width: 0px) {

      font-size: 14px;

  }
  @media (min-width: 720px) {

      font-size: 18px;

  }

}

section {

  margin: 15px 0px;

}
